{# 
	GLOBAL VARIABLES:
	Use this file to reconfigure core components of the Method theme prior to building.
#}

{# ---------------------------------------------------------------- #}
{# Theme Information 												#}
{# ---------------------------------------------------------------- #}

{% set theme_name = "Method" %}
{% set theme_uri = "https://github.com/pixelwatt/method" %}
{% set theme_description = "A barebones foundation for custom theme development." %}
{% set theme_version = "1.0.12" %}
{% set theme_author = "Rob Clark" %}
{% set theme_author_uri = "https://robclark.io/" %}
{% set theme_tags = "cmb2, bootstrap" %}
{% set github_theme_uri = false %}


{# ---------------------------------------------------------------- #}
{# Theme Support 													#}
{# ---------------------------------------------------------------- #}

{% set theme_support_html5 = true %}
{% set theme_support_titletag = true %}
{% set theme_support_thumbnails = true %}


{# ---------------------------------------------------------------- #}
{# Nav Menus 														#}
{# ---------------------------------------------------------------- #}

{% set nav_menus = [
	{ label: "Primary", location: "primary" }
] %}


{# ---------------------------------------------------------------- #}
{# Custom Image Sizes 												#}
{# ---------------------------------------------------------------- #}

{% set image_sizes = [
	{ name: "header_bg", width: 1400, height: 600, cropped: true }
] %}


{# ---------------------------------------------------------------- #}
{# Required Plugins 												#}
{# ---------------------------------------------------------------- #}

{% set require_cmb2 = true %} {# RECOMMENDED #}
{% set require_classic_editor = false %}
{% set require_github_updater = false %}
{% set require_cmb2_roadway_segments = false %}


{# ---------------------------------------------------------------- #}
{# Code 															#}
{# ---------------------------------------------------------------- #}

{% set code_textdomain = "method" %}
{% set code_prefix = "method_" %}
{% set code_layoutclass = "MethodLayout" %}


{# ---------------------------------------------------------------- #}
{# Common CSS Classes 												#}
{# ---------------------------------------------------------------- #}

{% set css_classes = [
	{ id: "full_width_outer_col", class: "col-12 col-sm-11" },
	{ id: "full_width_container", class: "full-width-container" }
] %}


{# ---------------------------------------------------------------- #}
{# Social Media Link Support 										#}
{# ---------------------------------------------------------------- #}

{% set social_options = [
	{ id: "facebook", label: "Facebook", fa: "fab fa-facebook-f" },
	{ id: "twitter", label: "Twitter", fa: "fab fa-twitter" },
	{ id: "linkedin", label: "LinkedIn", fa: "fab fa-linkedin-in" },
	{ id: "instagram", label: "Instagram", fa: "fab fa-instagram" },
	{ id: "pinterest", label: "Pinterest", fa: "fab fa-pinterest" },
	{ id: "youtube", label: "YouTube", fa: "fab fa-youtube" }
] %}


{# ---------------------------------------------------------------- #}
{# Other 															#}
{# ---------------------------------------------------------------- #}

{% set jquery_version = "3.5.1" %}
{% set googlefonts_css_url = "" %}
{% set fontawesome_kit_url = "" %}


{# ---------------------------------------------------------------- #}
{# Login Customization 												#}
{# ---------------------------------------------------------------- #}

{% set custom_login_enable = true %}
{% set custom_login_accent = "#4BFD9F" %}
{% set custom_login_btn_color = "#000" %}
{% set custom_login_logo = "assets/images/login-logo.svg" %}
{% set custom_login_logo_width = "250px" %}
{% set custom_login_logo_height = "80px" %}
{% set custom_login_bg = "assets/images/login-bg.jpg" %}


{# ---------------------------------------------------------------- #}
{# Bootstrap Customization 											#}
{# theme.scss must be recompiled for these changes to be reflected  #}
{# ---------------------------------------------------------------- #}

{# Base Colors:									#}
{# --- provide a hex value 						#}
{% set bootstrap_blue = "#007bff" %}
{% set bootstrap_indigo = "#6610f2" %}
{% set bootstrap_purple = "#6f42c1" %}
{% set bootstrap_pink = "#e83e8c" %}
{% set bootstrap_red = "#dc3545" %}
{% set bootstrap_orange = "#fd7e14" %}
{% set bootstrap_yellow = "#ffc107" %}
{% set bootstrap_green = "#28a745" %}
{% set bootstrap_teal = "#20c997" %}
{% set bootstrap_cyan = "#17a2b8" %}

{# Theme Colors:								#}
{# --- sass variable recommended 				#}
{% set bootstrap_primary = "$blue" %}
{% set bootstrap_secondary = "$gray-600" %}

{# Prepend Sans Serif Family:					#}
{# --- provide a font family, or set false 		#}
{% set bootstrap_font_family_sans_serif = false %}

{# Optional Serif Variable:						#}
{# --- provide a serif family, or set false 	#}
{% set bootstrap_font_family_serif = false %}

{# Optional Extra Family Variable:				#}
{# --- provide a font family, or set false 		#}
{% set bootstrap_font_family_theme = false %}

{# Bootstrap Features:							#}
{# --- must "wrap" in quotation marks 			#}
{% set bootstrap_enable_caret = "true" %}
{% set bootstrap_enable_rounded = "true" %}
{% set bootstrap_enable_shadows = "false" %}
{% set bootstrap_enable_gradients = "false" %}
{% set bootstrap_enable_transitions = "true" %}