{# 
	GLOBAL VARIABLES:
	Use this file to reconfigure core components of the Method theme prior to building.
#}

{# ---------------------------------------------------------------- #}
{# Theme Information 												#}
{# ---------------------------------------------------------------- #}

{% set theme_name = "Method Child" %}
{% set theme_uri = "https://github.com/pixelwatt/method-child" %}
{% set theme_description = "A starter child theme for building block themes with Method v2." %}
{% set theme_version = "1.0.0-beta4" %}
{% set theme_license = "GNU General Public License v2 or later" %}
{% set theme_author = "Rob Clark" %}
{% set theme_author_uri = "https://robclark.io/" %}
{% set theme_tags = "Block Editor, CMB2, Method v2" %}


{# ---------------------------------------------------------------- #}
{# Code 															#}
{# ---------------------------------------------------------------- #}

{% set code_textdomain = "method-child" %}
{% set code_prefix = "method_child_" %}
{% set css_prefix = "method-child" %}


{# ---------------------------------------------------------------- #}
{# Local Development 										        #}
{# ---------------------------------------------------------------- #}

{% set localdev_url = "method-child.test" %}


{# ---------------------------------------------------------------- #}
{# GIT Push										                    #}
{# ---------------------------------------------------------------- #}

{% set push_custom_build = false %}
{% set git_remote_url = "" %}
{% set git_branch = "main" %}
