{% import '_globals.html' as globals %}{% extends "_barebones.html" %}{% block content %}body.login .button-primary {
	background: {{globals.custom_login_accent}} !important;
	border-color: {{globals.custom_login_accent}} !important;
	color: {{globals.custom_login_btn_color}} !important;
}

body.login .button-secondary {
	color: {{globals.custom_login_accent}} !important;
}

body.login input[type=password]:focus,
body.login input[type=text]:focus {
	border-color: {{globals.custom_login_accent}} !important;
	box-shadow: 0 0 0 1px {{globals.custom_login_accent}} !important;
}

.login h1 a {
    background-image: url('{{globals.custom_login_logo}}') !important;
    background-size: {{globals.custom_login_logo_width}} {{globals.custom_login_logo_height}} !important;
    width: {{globals.custom_login_logo_width}} !important;
    height: {{globals.custom_login_logo_height}} !important;
}

.message { 
	background-color: {{globals.custom_login_accent}} !important; 
	color: {{globals.custom_login_btn_color}} !important; 
	font-weight: 500 !important; 
	border-left: none !important; 
	border-radius: 4px !important; 
}

#bg-canvas {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	background-position: center center;
	background-size: cover;
}
#login {
	position: relative;
	z-index: 100;
}
p#nav {
	text-align: center;
}
p#nav a {
	color: {{globals.custom_login_accent}} !important;
	font-size: 15px !important;
}
p#backtoblog {
	display: none;
	visibility: hidden;
}
form#loginform {
	border-radius: 4px !important;
}
{% endblock %}