{% import '_globals.html' as globals %}{% extends "_barebones.html" %}{% block content %}
span.{{globals.code_textdomain}}-tags-opener {
	display: inline-block;
	font-size: 0.8em;
	background: #0073aa;
	font-weight: 500;
	padding: 0.3em 0.5em;
	vertical-align: middle;
	line-height: 1;
	border-radius: 0.2em;
	color: #fff;
	font-style: normal;
	margin-right: 0.5em;
	cursor: help;
}
{% endblock %}